.containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label{
        font-size: 0.9rem;
        font-weight: bold;
        color: #3F3D56;
    }
}

.containerButtons{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.containerFlex{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    // padding: 0.5rem;
    flex-wrap: wrap;
}