.containerButtons {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.containerMain {
    height: 87vh;
    width: 100%;

    @media(max-width:1400px) {
        height: 81vh;
    }

    @media(max-width:1600px) and (min-width:1401px) {
        height: 84vh;
    }
}

.containerFlex {
    padding: 0.5rem;
    width: 99.6%;
    height: 79.4vh;
    overflow: auto;

    @media(max-width:1400px) {
        height: 60vh;
    }

    @media(max-width:1600px) and (min-width:1401px) {
        height: 68vh;
    }

    @media(min-width:1900px) {
        height: 72.4vh;
    }

}

.containerList {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.containerInput {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    background-color: white;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 17px 5px #0000001A;
    border-radius: 30px;
    min-width: 350px;


    input {
        height: 100%;
        width: 100%;
        outline: none;
        background-color: white;
        border: none;
        min-height: 32px;
        min-width: 280px;


    }
}

.containerInfosT {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem;

    .containerTotal {
        min-width: 130px;
        padding: 0.5rem;
        border: 2px solid #7c42e0;
        background-color: #7c42e0;
        border-radius: 0.30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        div {
            span {
                color: #FFF;
                font-weight: bold;
            }
        }
    }
}