.buttonComponent,
.buttonDisabled {
    // ===========
    // padding: 0.3rem 1rem;
    // width: 100%;
    // height: 32px;
    // justify-content: center;
    // border: none;
    // outline: none;
    // cursor: pointer;
    // border-radius: 0.25rem;
    // color: #fff;
    // font-size: .875rem;
    // letter-spacing: .25px !important;
    // background: linear-gradient(87.93deg, #7c42e0 0.59%, #7c42e0 137.98%);
    // border: 1px solid transparent;
    // display: flex;
    // align-items: center;
    // gap: 0.4rem;
    // transition: 0.2s;
    // height: 32px;
    // font-weight: 700;

    // ==========

    display: flex;
    align-items: center;
    justify-content:center;
    gap: .3rem;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background-color:#7c42e0;
    color: #fff;

    &:hover {
        background-color: #6c4bbd;
        color: #fff;
    }

    // &:focus {
    //     // border: 1px solid #17a2b8;
    //     box-shadow: 0 0 2px 2px #bfdeff;
    // }

    @media (max-width: 768px) {
        width: 170px;
    }

    @media (max-width: 576px) {
        width: 135px;
    }
}

.buttonDisabled {
    opacity: 35%;
    cursor: no-drop;
}

.buttonComponentReturn,
.buttonDisabledReturn {
    // padding: 0.3rem 1rem;
    // width: 100%;
    // height: 32px;
    // justify-content: center;
    // border: none;
    // outline: none;
    // cursor: pointer;
    // border-radius: 0.25rem;
    // color: #fff;
    // font-size: .875rem;
    // letter-spacing: .25px !important;
    // background-color: #c94848;
    // border: 1px solid transparent;
    // display: flex;
    // align-items: center;
    // gap: 0.4rem;
    // transition: 0.2s;
    // height: 32px;
    // font-weight: 700;

    display: flex;
    align-items: center;
    justify-content:center;
    gap: .3rem;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    background-color:#c62828;
    color: #fff;


    &:focus {
        // border: 1px solid #17a2b8;
        box-shadow: 0 0 2px 2px #bfdeff;
    }

    @media (max-width: 768px) {
        width: 170px;
    }

    @media (max-width: 576px) {
        width: 135px;
    }
}

.buttonDisabledReturn {
    opacity: 35%;
    cursor: no-drop;
}