


.flex{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.2rem 0.6rem;
    justify-content: space-between;
}

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}