

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.containerInputs{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.containerTotal{
    margin-top: 10px;
    padding: 0.5rem 0.6rem;
    width: 100px;
    height: 47px;
    // text-align: center;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // align-items: center;

    @media(min-width:1490px){
        width: 132px;
        height: 70px;
        gap: 0.2rem;
    }

    p{
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 14px;

        @media(min-width:1490px){
            font-size: 14px;
            margin-top: 0.5rem;
        }
    }

    span{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        // line-height: 25px;
    }
    
}