.status {
    // padding: 0.3rem 0.75rem;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: 500;


    .statusPending {
        background-color: #ffd0d0;
        color: #c62828;
        padding: 3px 6px ;
        border-radius: 12px;
      }
      
      .statusCompleted {
        background-color: #c8f7c8;
        color: #2e7d32;
        padding: 3px 6px ;
        border-radius: 12px;
      }
  }

