

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label{
        font-size: 0.9rem;
        font-weight: bold;
        color: #3F3D56;
    }
}

.containerInputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}