.containerButtons{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding:0.4rem;
    margin: 0.4rem;

}

.containerMain{
    height: 87vh;
    width: 100%;

    @media(max-width:1400px){
        height: 81vh;
    }
    @media(max-width:1600px)  and (min-width:1401px){
        height: 84vh;
    }
    
}

.containerFlex{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding:0.4rem;
    flex-wrap: wrap;
}