

.containerButtons{
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.containerMain{
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media(max-width:1400px){
        height: 84.5vh;
    }
    @media(max-width:1600px) and (min-width:1401px){
        height: 84vh;
    }
}

.containerTotais{ 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.containerTotalPagoPendente{
    padding: 1rem;
    background-color: #FFF;//c8f7c8
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    height: 54px;

    span{
        font-weight: 500;
        line-height: 18.75px;
        font-size: 13px;
        color:#2e7d32;
        width: 100%;
        height: 100%;
        font-weight: bold;
    }

}

.flexCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span{
        font-size: 17px;
        @media(max-width:1400px){
            font-size: 12.5px;
        }
    }
}
.containerIconMoney{
    background-color: #c8f7c8;
    clip-path: circle();
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}