.containerCard {
    // border-radius: 12px;
    // // border: 1px solid #ced4da;
    // padding: .7rem .5rem;
    // width: 27vw;
    // // background-color: #d1e9db2f ;
    // // background-color: #e3eee82f ;
    // background-color: white;
    // height: 89px;
    // cursor: pointer;

    // background-color: white;
    // border-radius: 12px;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    // padding: 12px;
    // transition: transform 0.2s ease, box-shadow 0.2s ease;

    // &:hover {
    //     transform: translateY(-4px);
    //     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    // }





    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.2s;
    border-top: 4px solid #7c42e0;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}


.customerHeader {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7c42e0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 15px;
}

.customerName {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark);
}


.containerInfo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
    font-size: 0.75rem;
    color: #a5a5a5;
}

.containerFlexData {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}