

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label{
        font-size: 0.9rem;
        font-weight: bold;
        color: #3F3D56;
    }
}

.containerInputs{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.containerTotais{ 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
}
.containerTotalPagoPendente{
    padding: 1rem;
    background-color: rgba(237, 255, 243, 0.89);
    border-radius: 0.30rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #38a162;
    border-radius: 5px;
    
    height: 54px;
    span{
        font-weight: 500;
        line-height: 18.75px;
        font-size: 13px;
        color:#38a162;
        width: 100%;
        height: 100%;
        // font-family: Roboto;

        

    }

}

.flexCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span{
        font-size: 17px;
        @media(max-width:1400px){
            font-size: 13.5px;
        }
    }
}
.containerIconMoney{
    background-color: #38a162;
    clip-path: circle();
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}