.container {
    font-family: Arial, sans-serif;
    // padding: 15px 15px 50px 15px !important;
    // margin: 50px;
    // page-break-after: always;
    // height: 75vh;  
    // overflow: auto;
    // margin: 0 auto;
    // min-width: 793px;
    // max-width: 794px;
}

// @media print {
//     div.page-footer {
//         position: fixed;
//         z-index: 9;
//         bottom: 0;
//         width: 100%;
//         height: 50px;
//         font-size: 15px;
//         color: #fff;
//         background: red;
//         opacity: 0.5;
//         page-break-after: always;
//       }
// }

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0px 5px;
    border-bottom: 1px solid #000;

    .headerLeft {
        display: flex;
        gap: 15px;
        font-size: 14px;

        .logo {
            display: flex;
            align-items: center;
        }

        .infoEmpresa {
            display: flex;
            flex-direction: column;
            // gap: 5px;
            // border-left: 1px solid #000;
            // padding-left: 15px;
        }
    }

    .headerRight {
        display: flex;
        gap: 5px;
        flex-direction: column;
        font-size: 12px;
        text-align: right;
        // align-self: end;
    }
}

.dadosContainer {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #efefef;


    .namePaciente span {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .infoPaciente {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .title {
        font-weight: 700;
    }

    .boxInfo {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .firstInfo {
            display: flex;
            gap: 5px;
        }

        .paddingLeft {
            padding-left: 19px;
        }

    }

    .boxGroup {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .qrCode {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: center;
        gap: 3px;
    }

}

.procedimentosContainer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;

    .procedimentos {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }




    .tableProc {
        width: 100%;
        table-layout: 'fixed';
        border-collapse: collapse;

        th,
        td {
            padding: 3px 0;
        }

        .textRight {
            text-align: right;
            padding-right: 15px;
        }

        .textLeft {
            padding-left: 15px;
        }

        .tableHeader {
            color: #fff;
            text-align: left;
            background-color: #000;
            padding: 2px 15px 2px 0;
            border-bottom: 1px solid #000;
        }
    }

    .total {
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        width: 40%;
        padding: 5px 15px 5px 0;
        border-top: solid thin #949494;
    }

}

.containerTotais {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 740px;
    flex-wrap: wrap;

    .totais {
        display: flex;
        gap: 15vw;
        color: #fff;
        font-weight: 700;
        justify-content: flex-end;
        padding: 5px 15px 5px 0;
    }

    .totais {
        color: #fff;
        background-color: #000;
    }
}

.headerSpace {
    height: 70px !important;
    display: table-header-group !important;
}

@media print {

    .container {
        padding: 15px 15px 15px 15px !important;
        page-break-after: always;
    }

    .footerSpace {
        height: 27px;
        display: table-footer-group !important;
    }

    .headerSpace {
        height: 81px;
        display: table-header-group !important;
    }

    // #marginTop{
    //     width: 100%;
    //     height: 5.5rem;
    // }
    .footer {
        border-top: solid thin #949494;
        font-size: 12px;
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 9;
        bottom: 5px;
        width: 96%;
        page-break-after: always;
    }

    .headerContainer {
        page-break-after: always;
        position: fixed;
        z-index: 9;
        font-size: 12px;
        padding: 0px 0;
        top: 4px;
        width: 96%;
        page-break-after: always;
    }
}

.titleProcedimentos {
    color: #000;
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
    background: #efefef;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.paddingLeftWrap {
    padding-left: 19px;
    overflow-wrap: break-word;
    text-wrap: wrap;

    p {
        text-wrap: wrap;
    }

    span {
        text-wrap: wrap;

    }

    strong {
        text-wrap: wrap;
    }
}



.containerPrint {
    font-family: Arial, sans-serif;
    // height: 75vh;
    height: fit-content;

    padding: 15px 15px 50px 15px !important;
    margin: 0 auto;
    // min-width: 808px;
    // max-width: 809px;
    overflow: auto;
    background-color: white;

    .headerContainer {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        position: fixed;
        top: 5px;
        width: 97%;
        margin: auto;
        z-index: 99999;
        background-color: white;
        // border-bottom: 4px solid #333;

        .headerLeft {
            display: flex;
            gap: 15px;
            font-size: 14px;
            // font-weight: 700;

            .logo {
                display: flex;
                align-items: center;
            }

            .infoEmpresa {
                display: flex;
                flex-direction: column;
                gap: 5px;
                // border-left: 1px solid #333;
                // padding-left: 15px;
            }
        }

        .headerRight {
            display: flex;
            gap: 5px;
            flex-direction: column;
            font-size: 12px;
            text-align: right;
            // align-self: end;
            position: relative;
            width: 240px;
        }
    }
}

.procedimentosContainer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;

    .procedimentos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        // margin-top: 5.9rem;
    }


    .titleProcedimentos {
        background-color: #333;
        text-align: left;
        padding: 5px;
        color: white;
        font-weight: 700;
    }

    .tableProc {
        width: 100%;
        table-layout: 'fixed';
        border-collapse: collapse;

        th,
        td {
            padding: 3px 0;
        }

        .textRight {
            text-align: right;
            padding-right: 5px;
            white-space: nowrap;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 64px;
        }

        .textLeft {
            padding-left: 5px;
            white-space: nowrap;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 66px;

        }

        .tableHeader {
            color: #fff;
            text-align: left;
            padding: 2px 15px 2px 0;
            border-bottom: 1px solid #333;
            color: #333;
            background: #efefef;


        }
    }

    .total {
        font-weight: 700;
        border-top: solid thin #949494;
    }

}

.containerTotais {
    .totais {
        display: flex;
        gap: 15vw;
        color: #fff;
        font-weight: 700;
        justify-content: flex-end;
        padding: 5px 15px 5px 0;
    }

    .totais {
        color: #fff;
        background-color: #333;
    }
}

.footer {
    border-top: solid thin #949494;
    margin-top: 50px;
    font-size: 12px;
    padding: 5px 0;
    display: flex;
    justify-content: end;
}

.containerInfos {
    width: 40%;
    display: flex;
    margin: auto;
    gap: 0.1rem;
    flex-direction: column;
    margin-top: 0.5rem;
    // height: 550px;

}

.containerInfoResumo {
    font-family: sans-serif;
    background: #efefef;
    border: 2px solid #cfcece;
    border-radius: 4px;
    padding: 0rem 0.5rem;
    height: 95%;
    overflow: auto;

}

.warn {
    font-size: 0.8rem;
    color: black;
    width: 110px;
    text-align: right;
    line-height: 13px;

}

.iconTotal {
    font-style: normal;
    font-size: 0.8rem;

    color: black;
    width: 110px;
    text-align: right;
    line-height: 13px;


}

.iconInfo {
    font-size: 0.8rem;
    color: black;
    width: 110px;
    text-align: right;
    line-height: 13px;

}

.divContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;

}

.divFormasPagamentos {
    min-width: 100px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #888574;
    line-height: 15px;

}

.line {
    width: 100%;
    border: 1px solid #DCDACD;
    margin-bottom: 5px;
    margin-top: 5px;
}

.teste {
    height: 50px;
    background-color: white;
    display: table-header-group;
}

.containerTotais {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
}

.containerTotalPagoPendente {
    padding: .5rem .6rem;
    background-color: #FFF; //c8f7c8
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    height: 40px;
    font-size: 12px;

    span {
        font-weight: 500;
        color: #2e7d32;
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 12px;

    }

}


.flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        font-size: 17px;

        @media(max-width:1400px) {
            font-size: 12.5px;
        }
    }
}

.containerIconMoney {
    background-color: #2e7d32;
    clip-path: circle();
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}