.agendamento-form {
    .p-float-label {
      margin-bottom: 3.5rem;
      margin-top:3.5rem;

    }
  
    .p-dialog-footer {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }
  