

.table{
    height: 24dvh;
}

.badgeSim,.badgeNao{
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    width: 4.6rem;
    padding: 1px 4px;
    border-radius: 0.25rem;
    font-weight: 600;
    margin-top: -0.8px;
}

.badgeSim{
    background-color: rgb(67, 194, 145);
}

.badgeNao{
    background-color: rgb(204, 29, 29);
}