

.containerButtons{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin-top: 8px;
}

.containerMain{
    height: 87vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media(max-width:1400px){
        height: 84.5vh;
    }
    @media(max-width:1600px) and (min-width:1401px){
        height: 84vh;
    }
}