

.cardAgendamento{
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(51, 51, 51, .212);
    background-color: #fafff7;
    color: #41b06e;
    cursor: pointer;
    flex-direction: column;
     min-height: 15vh;
    position: relative;

    .titleAgendamento{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    .timeAgendamento{
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    .usernameAgendamento{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-weight: 500;
        justify-content: flex-end;
        position: absolute;
        bottom: 5px;
        right: 11px;
        text-transform: capitalize;
    }
    .descriptionAgendamento {
        padding: 0.3rem;
        text-align: justify;
        text-wrap: wrap;
        word-wrap: break-word;
        width:100%;
        white-space: normal;
        word-break: break-word;
        margin-bottom: 0.6rem;
    }
}

.cardAgendamento:hover{
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}

.containerFlexAgHour{
    display: flex;
    align-items: center;
    justify-content: space-between;
}